[project]
	description = Device tree for Lenovo Vibe P1 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/FireLord1
[access "refs/for/refs/*"]
	read = group user/FireLord1
	push = group user/FireLord1
	label-Code-Review = -2..+2 group user/FireLord1
	label-Verified = -1..+1 group user/FireLord1
	rebase = group user/FireLord1
	removeReviewer = group user/FireLord1
	submit = group user/FireLord1
[access "refs/heads/*"]
	read = group user/FireLord1
	create = group user/FireLord1
	push = +force group user/FireLord1
	pushMerge = group user/FireLord1
[access "refs/tags/*"]
	push = group user/FireLord1
	push = +force group user/FireLord1
